* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration: none;
}
@media(max-width: 2300px) {
    * {
        font-size: 18px;
    }
}
@media(max-width: 2000px) {
    * {
        font-size: 16px;
    }
}
@media(max-width: 1013px) {
    * {
        font-size: 14px;
    }
}
@media(max-width: 700px) {
    * {
        font-size: 12px;
    }
}
@media(max-width: 615px) {
    * {
        font-size: 10px;
    }
}
@media(max-width: 505px) {
    * {
        font-size: 8px;
    }
}

