@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;400&display=swap');
div.aside {
    width: 17%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    height: 100%;
    
   
}
div.aside__navbar {
    
    
    height: 42%;
}

ul.aside__navbar__ul li {
    padding-top: 7%;
    padding-bottom: 7%;
    font-family: 'Onest', sans-serif;
    list-style: none;
    border-bottom: 1px solid grey;
    padding-left: 4%;
}
ul.aside__navbar__ul {
    
    border: 1px solid grey;
}
div.aside__logo {
    height: 15%;
    
}
div.aside__footer {
    height: 43%;
    display: flex;
    align-items: flex-end;
    padding-left: 10%;
    width: 100%;
    padding-bottom: 8%;
}


ul.aside__footer__ul {
    display: flex;
    
}
ul.aside__footer__ul li:not(:first-of-type) {
    
    padding-left: 3%;
    padding-right: 3%;
}
#frst {
    padding-right: 3%;
}
ul.aside__footer__ul li {
    font-size: 22px;
    list-style: none;
}
div.aside__footer__content {
    width: 100%;
}
ul.aside__navbar__ul li:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}
#logo {
    width: 45%;
    border-radius: 5px;
}